rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/$(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // This rule makes sure that files under '/artifacts/{appId}/users/{userId}/' can only be accessed
    // by an authenticated user whose UID matches that 'userId' in the path.
    match /artifacts/{appId}/users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
} 